html, body{
    margin:0;
    padding:0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    overflow: auto;
    background: white;
    border-bottom: 2px grey solid;

}
#yourname {
    width: 10%;
    height: 60px;
    margin-left: 150px;
    padding: 20px;
    background-color:#4aaaa5;
    color: white;
    float: left;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
}

.navigation {
    width: 960px;
    background-color: white;    
}

#left {
    float: right;
    color:white;
    background-color: white;
    width:7%;
    text-align: center;
    margin: 41px 0px;
    border-right:1px solid lightgrey;
}

#middle {
    float: right;
    color:white;
    background-color:white;
    width: 7%;
    text-align:center;
    margin: 41px 0px;
    border-right:1px solid lightgrey;
    border-left:1px solid lightgrey;
}

#right {
    float: right;
    color: grey;  
    background-color:white;  
    width: 7%; 
    text-align: center;
    margin: 41px 0px;
    border-left:1px solid lightgrey;
}

.mainbody {
    clear:both;
    margin: 7% 0 0 10%;
    background-color:#ffffff;
    color: black;
    width: 960px;
    align-content: center;
    border: 2px solid lightgrey;
    overflow: auto;
    height: 575px;
}

h1 {    
    width: 900px;
    background-color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-left: 25px;
    float: left;
    color: #4aaaa5;
    border-width: 875px;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 20px;
}
.contactheader {
    clear:both;

}

.contact {
    width: 960px;
    padding: 0 20px;
}

#name {
    border: solid grey;
    width: 910px;

}
#email {
    border: solid grey;
    width: 910px;
}

#message {
    width: 910px;
    border: solid grey;
    height: 200px;
}

footer {
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    height: 50px;
    background-color: grey;
    border-top: 8px solid #4aaaa5;
    margin-top: -50px;
    text-align: center;

}
a {text-decoration: none}

